#header {
    padding: 10px;
    background-image: url('images/header.jpg');
    font-family: Helvetica;
    height: 140px;
    font-size: larger;
    font-style: italic;
    color: white;
}

#main {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

#content-1 {
    float: left;
    width: 340px;
    padding: 10px;
}

#content-2-1 {
    float: left;
    width: 340px;
    padding: 10px;
}

#content-2-2 {
    float: right;
    width: 340px;
    padding: 10px;
}

.widget {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px;
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
}

#footer {
    clear: both;
    padding: 10px;
    background-image: url('images/footer.jpg');
    height: 140px;
    font-family: Helvetica;
    vertical-align: bottom;
    font-size: larger;
    font-style: italic;
    color: white;
}